# Ignore Dataset and Colab Files
data/
*.dcm
*.png
__pycache__/
*.pt
*.pth
# Ignore Colab folder if it exists
sample_data/
# Ignore YOLO model weights (too large for GitHub free tier)
*.pt
*.onnx

# Ignore training artifacts
runs/*.pt
runs/
